* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.NavBar{
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    background-color: #252933;
    color: #fcfcff;
    font-size: 1.5rem;
    position: fixed;
    top:0;
    right: 0;
}

.NavBar li {
    margin: .75rem;
    padding: .25rem;
}
.intro {
    background-color: #252933;
    color: #fcfcff;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectionSection {
    display: flex;
    flex-wrap: wrap;
}
.projectionSection div{
    background-color: pink;
    margin: 10vh;
    height: 50vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    text-align: center;
    font-size: 2rem;
}
.marker {
    color: #be3144;
}
.bar {
    height: 2px;
    background-color: #252933;
    width: 7.5rem;
    margin: 1.1rem auto 0 auto;
}
#about-text {
    max-width: 56rem;
    margin: 3rem auto 1rem auto;
}
.about-skills {
    display: flex;
}
.frontend-skills{
    margin: auto
}
.frontend-skills p{
    text-align: center;
}
.support-skills {
    margin: auto;
}
.commonskill{
    background-color: #ddd;
    width: 40rem;
}
.skills {
    text-align: right;
    font-size: 1.5 rem;
    padding: .25rem 1rem;
    color: white;
    border-right: 3rem;
    font-weight: 100;
}
.htmling {
    background-color: #be3144;
    width: 75%;
}
.CSS {
    background-color: #3157be;
    width: 75%;
}
.JS {
    background-color: #44be31;
    width: 60%;
}
.REACT {
    background-color: #e4caee;
    width: 40%;
}
.contactBox {
    display: flex;
    width: auto;
    margin-top: 1rem;
    background-color: #ddd;
    text-align: center;
}
.contactBox2 {
    display: block;
    width: 60%;
    max-width: 56rem;
    padding: 0;
    margin: auto;
}
.header-contact {
   margin: 4.5rem auto;
  font-weight: 500;
  letter-spacing: .18rem;
  align-items: center;
}
.header-text {
    margin: 3rem auto 0 auto;
    font-size: 1.5rem;
}
.forntend-skills {
    padding: 20px;
}
.skillsName{
    display: flex;
    background-color: #ddd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillsName p {
    padding: 10px;
}
.projectContainer {
    border: 1px solid;
    margin: 10px;
}