* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-family: 'Raleway', sans-serif;
}

.NavBar {
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    background-color: #252933;
    color: #fcfcff;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
}

.NavBar li {
    margin: .75rem;
    padding: .25rem;
    cursor: pointer;
}
.NavBar li:hover {
    opacity: 75%;
    border-style: solid;
    border-color: #be3144;
}

.intro {
    background-color: #252933;
    color: #fcfcff;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectionSection {
    display: flex;
    flex-wrap: wrap;
}

.projectionSection div {
    background-color: pink;
    margin: 10vh;
    height: 50vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.marker {
    color: #be3144;
}

.bar {
    height: 2px;
    background-color: #252933;
    width: 7.5rem;
    margin: 1.1rem auto 0 auto;
}

#about-text {
    max-width: 56rem;
    margin: 3rem auto 1rem auto;
}

.about-skills {
    display: flex;
}

.frontend-skills {
    margin: auto
}

.frontend-skills p {
    text-align: center;
}

.support-skills {
    min-width: 25rem;
    max-width: 25%;
    margin: 3rem auto;
}

.commonskill {
    background-color: #ddd;
}

.skills {
    text-align: right;
    font-size: 1.5 rem;
    padding: .25rem 1rem;
    color: white;
    border-right: 3rem;
    font-weight: 100;
}

.htmling {
    background-color: #be3144;
    width: 75%;
}

.CSS {
    background-color: #3157be;
    width: 70%;
}

.JS {
    background-color: #44be31;
    width: 90%;
}

.REACT {
    background-color: #e4caee;
    width: 80%;
}

.contactBox {
    display: flex;
    width: auto;
    margin-top: 1rem;
    background-color: #ddd;
    text-align: center;
}

.contactBox2 {
    display: block;
    max-width: 56rem;
    padding: 0;
    margin: auto;
}

.header-contact {
    margin: 1.5rem auto;
    font-weight: 400;
    letter-spacing: .18rem;
    align-items: center;
    font-size: 2.5rem;
    color: #252933;
}

.bar {
    height: 2px;
    width: 7.5rem;
    display: flex;
    margin: 0 auto 0 auto;
    background-color: #252933;
}



#social-media {
    display: flex;
    margin: auto;
}

.contact-button {
    display: block;
    margin: auto;
    padding: 4rem 1rem;
    text-align: center;
}

.contact-button:hover {
    color: orange;
    opacity: 80%;
}

.header-text {
    margin: 1rem auto 0 auto;
    font-size: 1.5rem;
}

.forntend-skills {
    width: 42rem;
    min-width: 32rem;
    max-width: 75%;
    margin: 3rem;
}

.skillsName {
    display: flex;
    background-color: #ddd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .about-skills {
      flex-direction: column;
    }

  }

.skillsName p {
    padding: 10px;
}

.projectContainer {
    border: 1px solid;
    margin: 10px;
}

.projectMain {
    margin-top: 2rem;
}

.projectsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.projectsSection>div {

    width: 513px;
    background-color: #979fb429;
}

.skillsContainer {
    margin-top: 2rem;
}


svg {
    font-size:3rem;
}

h1 {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 500;
}

h1 > span {
    color: #be3144;
}